{% extends "superheroes/base.html" %} {% block title %}Superhero Creator{%endblock %} {% block content %} {% load static %}
<h1 class="header">Welcome to the Superhero Creator!</h1>

<div class="row">
  <img src="{% static 'Axe-Cop.jpg' %}" alt="Axe Cop" class="img-fluid" />
</div>
<h3 class="header">Your Current Superheroes:</h3>
<ul class="list-group">
  {% for hero in all_heroes %}
  <li class="list-group-item">
    <div>
      <h2>{{hero.name}}</h2>
    </div>
    <div>
      <h2>
        <a href="{% url 'superheroes:detail' hero.id %}">Details</a>
        <a href="{% url 'superheroes:edit' hero.id %}">Edit</a>
        <a href="{% url 'superheroes:delete' hero.id %}">Delete</a>
      </h2>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
