{% extends "superheroes/base.html" %}

{% block title %}Test? Tests.{% endblock %}

{% block content %}
<h1>Wow it's fkn nothing</h1>
    {% load static %}
    <img src="{% static 'Axe-Cop.jpg' %}" alt="Axe Cop">
    <ul>
        {% for hero in all_heroes %}
        <li><h2>{{hero.name}} - <a href="{% url 'superheroes:detail' hero.id %}">Deets</a>
                                <a href="{% url 'superheroes:edit' hero.id %}">Edit</a>
                                <a href="{% url 'superheroes:delete' hero.id %}">Delete</a>
        </h2></li>
        {% endfor %}
    </ul>
    <a href="{% url 'superheroes:create' %}">Build-a-Hero</a>
{% endblock %}